<!DOCTYPE html>
    <html>
    <head>
    <!--metadata about this document-->
    </head>
    <body>
    <!--this is the information to be displayed-->
    <h1>Welcome to the rainfall prediction website</h1>
    <p>
    <h3>Features used in the prediction</h3>
    <ul>
    <li>id
    <input type = "number">
    </li>
    <li>day
    <input type = "number">
    </li>
    <li>pressure
    <input type = "number">
    </li>
    <li>maxtemp
    <input type = "number">
    </li>
    <li>temparature
    <input type = "number">
    </li>
    <li>mintemp
    <input type = "number">
    </li>
    <li>dewpoint
    <input type = "number">
    </li>
    <li>humidity
    <input type = "number">
    </li>
    <li>cloud
    <input type = "number">
    </li>
    <li>sunshine
    <input type = "number">
    </li>
    <li>winddirection
    <input type = "number">
    </li>
    <li>windspeed
    <input type = "number">
    </li>
    </ul>
    </p>
    </body>
    </html>